* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/**NAVBAR**/
.navbar {
    border-radius: 0;
    border: 0;
    font-style: wheat;
}
.navbar-brand {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-header a:hover, .navbar-header a:focus {  /**kad paspaudus nesispalvotu tekstas**/
    text-decoration: none;
}
.navbar-collapse {
    text-align: center;
}
.nav-item {
    border: solid rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    margin: 5px;
    font: bold;
 
}
/** .navbar, button.navbar-toggler, .navbar-toggler-icon {
    border: px solid rgb(56, 5, 139)
} **/

/** MENU struktura **/
.row {
    width: 100%; 
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
}
.container {
    position: relative;
    float: left;
    width: 400px; /**nustaciau konkretu dydi**/
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin: 10px;
    border: black; /**tik cia uzdejau borderius**/
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    height: 700px;
    padding: 15px;
    background-color: rgb(230, 215, 173);
}
/** MENU stilius **/
h3 {
    padding-bottom: 15px;
}
p {
   font-style: italic; 
   text-align: justify;
}

/* Extra small devices (phones, -767px and up) */
@media (max-width: 767px) {
    .navbar-collapse {
        position: relative;
        float: left;
        top:0; 
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
     /**   transition: visibility .1s ease-in-out, -webkit-transform .1s ease-in-out; **/
      }
      .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
      }

}

/* Small devices (tablets, 768-991px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    button.navbar-toggler {
        visibility: hidden;
    }
}

/* Medium devices (desktops, 992-1199) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .nav-item {
        visibility: hidden;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .nav-item {
        visibility: hidden;
    }
}